[submodule "dependencies/CASE-Examples-QC"]
	path = dependencies/CASE-Examples-QC
	url = https://github.com/ajnelson-nist/CASE-Examples-QC.git
[submodule "dependencies/prov"]
	path = dependencies/prov
	url = https://github.com/trungdong/prov.git
[submodule "dependencies/prov-check"]
	path = dependencies/prov-check
	url = https://github.com/ajnelson-nist/prov-check.git
